{% extends 'base.html' %}
{% block navblock %}
{% include 'tabs.html' with active_tab='tab4' %}
{% endblock %}
{% block userblock %}
{% load staticfiles %}
<style>
.imgtg{
margin-left:30%;
}
#myDIV{
margin-top:20px;
display:none;
}
.mdi{
margin-top:10px;
    height:100px;
    width:100px;
    border:2px solid black;
}
tr.cls{
height:50px;
}
h1{
    width:60px;
    margin-top:-18px;
    margin-left:5px;
    background:white;
}
fieldset {
    border: 1px solid #000;
}
.mybtn{
background:none;
border:1px solid white;
color:white;
padding-top:5px;
padding-bottom:5px;
padding-left:25px;
padding-right:25px;
text-transform:uppercase;
}
.mybtn:hover{
background:white;
color:navy;
}
.mytbl{
margin-left:100px;
}
tr.myrw{
height:30px;
}
</style>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'ratings/dist/starrr.css' %}">
<body style="background:#035671;">
<div class="imgtg">
<img src="{{img.images.url}}" style="width:50%;"/><br/>
<table class="mytbl">
<tr class="myrw">
    <td><label style="color:white">Title</label></td>
    <td><label style="color:white">{{img.title}}</label></td>
</tr>
<tr class="myrw">
    <td><label style="color:white">Uploaded Date</label></td>
    <td><label style="color:white">{{img.uploaded_date}}</label></td>
</tr>
<tr class="myrw">
    <td><label style="color:white">Genre</label></td>
    <td><label style="color:white">{{img.genre}}</label></td>
</tr>
<tr class="myrw">
    <td><label style="color:white">Description</label></td>
    <td><label style="color:white">{{img.description}}</label></td>
</tr>
<tr class="myrw">
    <td align="center" colspan="2"><button class="mybtn" onclick="myFunction()">Rate</button></td>
</tr>
</table>

<div id="myDIV">
<form method="post">
{% csrf_token %}
<table>
<tr class="cls">
<td><div class='starrr' id='star2'></div></td>
<td>{{forms.ratings}}</td>
</tr>
<tr class="cls">
<td><label style="color:white">Comments</label></td>
<td>{{forms.comments}}</td>
</tr>
<tr class="cls">
<td colspan="2" align="center"><input type="submit" name="submit" value="submit" /></td>
</tr>
</table>
</form>
</div>
</div>
{% for f in fb %}
<fieldset style="width:50%;margin:auto;padding">
  <legend style="color:white">{{f.user.username}}</legend>
  <label style="color:white">{{f.comments}}</label>
</fieldset>

{% endfor %}
<script>
function myFunction() {
    var x = document.getElementById("myDIV");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
  <script src="{% static 'ratings/dist/starrr.js' %}"></script>
  <script>
  

    var $s2input = $('#star2_input');
    $('#star2').starrr({
      max: 5,
      rating: $s2input.val(),
      change: function(e, value){
        $s2input.val(value).trigger('input');
      }
    });
  </script>
  <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-39205841-5', 'dobtco.github.io');
    ga('send', 'pageview');
  </script>
  </body>
{% endblock %}